* {
    padding: 0;
    margin: 0;
}

body {
    color: hsl(229, 23%, 23%);
    font-size: 20px;
    font-family: sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);

}
/* .bgtop{
    transform: rotate(135deg);
    position: absolute;

}
.bgdown{
    transform: rotate(45deg);
    position: absolute;
    margin-bottom: -50;
} */

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
}

.imgdown img {
    position: relative;
    border-radius: 3%;

}

.imgtop img {
    position: absolute;
    margin-left: 33%;
    margin-top: -17%;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 100%);
}

.write {
    margin-top: 20%;
    text-align: center;
}

.name {
    font-size: 1.4rem;
}

.num {
    font-size: 1.1rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

.town {
    font-size: 1.1rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-top: 4%;

}

.socials {
    border-top: 1px solid hsl(0, 10%, 88%);
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between
}

.free {
    font-size: ;
    padding-right: 25px;

}

.word {
    display: block;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .1rem;
}